.icon-size {
    width: 50px;
    height: 50px;
    top: 10px;
    bottom: 0px;
    right: 10px;
}

body.dark .icon-size {
    background-color: #ffffff; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; 
    color: #343a40;
}

h1, h2 {
    color: #343a40;
}

.video-container {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
}

.comment-section,
.translation-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

body.dark {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

h1.dark, h2.dark {
    color: #ffffff;
}

.translation-section h2 {
    color: #343a40; 
}

body.dark .translation-section h2 {
    color: #ffffff; 
}

body.dark .translation-section label {
    color: #ffffff;
}

body.dark .translation-section select {
    background-color: #2c2c2c; 
    color: #ffffff;
}

html.dark {
    background-color: #1e1e1e; 
}

.container.dark {
    background-color: #1e1e1e; 
    color: #ffffff;  
}

.video-container.dark {
    background-color: #2c2c2c;  
}

.comment-section.dark,
.translation-section.dark {
    background-color: #2c2c2c; 
}

.quality-buttons button {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 16px;
}

.comment {
    background: #f9f9f9;  
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment:hover {
    background-color: #e0f7fa; 
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-weight: bold;
    color: #333;  
}

.comment-text {
    margin-top: 5px;
    color: #555; 
}

.comment-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0081A7;  
    margin-right: 20px;
    font-size: 16px;
}

.comment-actions button:hover {
    color: #00AFB9;  
}

.likes-dislikes {
    display: flex;
    align-items: center;
}

.likes-count, .dislikes-count {
    margin-left: 5px;
    font-size: 14px;
}

.dislike {
    color: #F07167;  
}

.like {
    color: #0081A7; 
}

body.dark .comment {
    background: #2c2c2c; 
}

body.dark .comment-user {
    color: #ffffff; 
}

body.dark .comment-text {
    color: #dddddd; 
}

body.dark .comment-section,
body.dark .translation-section {
    background-color: #2c2c2c;  
}

body.dark .video-container {
    background-color: #2c2c2c;  
}

body.dark .quality-buttons button {
    background-color: #343a40;  
    color: #ffffff;
}

body.dark .quality-buttons button:hover {
    background-color: #495057;
}
